.header-cards {
  background-color: $white-three;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  &__logo {
    width: 15%;
  }
}
